/* Color pallete: https://colorhunt.co/palette/635985443c6839305318122b */
:root {
  --white: #FFFFFF;
  --light: #635985;
  --regular: #443C68;
  --medium: #393053;
  --strong: #18122B;
}

.App {
  height: 100vh;
  background-color: var(--light);
  text-align: center;
}

.App-header {
  height: 70px;
  background: linear-gradient(180deg, var(--light), var(--strong));
  filter: blur(50px);
  margin-bottom: 200px;
}

h1 {
  color: var(--strong);
  font-weight: 400px;
}